Package: gpe-code 
Version: 0.2 
Section: games
Priority: optional
Architecture: arm
Depends: libgtk1.2, libgpewidget0
Maintainer: Joe McCarthy <mccarthy@engrng.pitt.edu>
Description: A Master Mind clone using GTK
