Package: gpe2-upgrade
Section: base
Priority: optional
Version: 0.01
Architecture: arm
Maintainer: GPE Hackers <gpe@handhelds.org>
Depends: gpe2
Conflicts: libglib1.2, libgtk1.2, libgpewidget0, gpe-calendar, gpe-todo, gpe-appmgr, gpe-login, gpe-what, gpe-edit, gpe-soundbite, dillo, gpe-bootsplash, gpe-minicalc, update-menus, gpe-setbg, gpe-conf, gpe-filemanager, gpe-sketchbook, gpe-tetris, gtksolitaire
Description: Upgrade from GPE1 to GPE2
