Package: gpe-edit
Section: base
Priority: optional
Version: 0.01
Architecture: arm
Maintainer: Damien Tanner <dctanner@magenet.com>
Depends: libgtk1.2, gdk-imlib1, sqlite, gpe-icons (>= 0.02), libgpewidget0 (>= 0.03), gpe-icons
Description: GPE text editor
