[Desktop Entry]
Name= Package Manager
Comment=Update installed packages
Exec=gpe-packages
Terminal=0
Type=Application
Icon=gpe-packages.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
SingleInstance=True
