Package: gpe-appmgr2
Section: base
Priority: optional
Version: 0.11
Architecture: arm
Maintainer: Robert Mibus <mibus@bigpond.com>
Depends: libgpewidget1, libdotdesktop
Provides: gpe-appmgr
Replaces: gpe-appmgr
Description: A PalmOS-style launcher for GPE
