Package: ipaq-sleep
Version: 0.7-3
Priority: optional
Section: base
Maintainer: Joe McCarthy <mccarthy@engrng.pitt.edu>
Depends: libc6, xlibs
Suggests: isgui
Architecture: arm
Filename: ./ipaq-sleep_0.7-3_arm.ipk
Description: Application to dim the backlight and put the iPAQ to sleep.
 An application to dim the backlight and/or put the iPAQ to sleep after a
 predefined period of inactivity. By default it looks at serial, USB,
 touchscreen, button, load average, external power, battery status, 
 and audio out with a 5 minute time-out.
 .
