Package: ipaq-sleep
Version: VERSION
Source: SOURCE
Priority: optional
Section: base
Maintainer: Joe McCarthy <mccarthy@engrng.pitt.edu>
Depends: libc6, xlibs, libapm1, apmd
Suggests: isgui
Architecture: arm
Description: Application to dim the backlight and put the iPAQ to sleep.
 An application to dim the backlight and/or put the iPAQ to sleep after a
 predefined period of inactivity. By default it looks at serial, USB,
 touchscreen, button, load average, external power, battery status, 
 and audio out, with a 5 minute time-out.
