[Desktop Entry]
Encoding=UTF-8
Name=Codebreaker
Comment=gpe-code
Exec=gpe-code
Terminal=false
Type=Application
Icon=gpe-code.png
Categories=Games
StartupNotify=true
