Package: libsoundgen0
Section: base
Priority: optional
Version: VERSION
Architecture: arm
Maintainer: Joe McCarthy <mccarthy@engrng.pitt.edu>
Depends: libglib1.2
Description: Sound generator 
Source: libgpe-VERSION.tar.gz
