Package: gpe-login
Section: base
Priority: optional
Version: 0.02
Architecture: arm
Maintainer: Phil Blundell <pb@debian.org>
Depends: libgtk1.2, gdk-imlib1
Description: Gtk-based login program for GPE
