Package: gpe-login
Section: x11
Priority: optional
Version: 0.03a
Architecture: arm
Maintainer: Phil Blundell <pb@debian.org>
Depends: libgtk1.2, gdk-imlib1, gpe-icons, libgpewidget0 (>= 0.02)
Description: Gtk-based login program for GPE
