[Desktop Entry]
Name=Network Setup
Name[cs]=Nastavení sítě
Comment=Network Setup
Comment[cs]=Nastavení sítě
Exec=gpe-conf network
Terminal=0
Type=Application
Icon=gpe-config-network.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
SingleInstance=True
