[Desktop Entry]
Name= Serial Ports
Name[cs]=Sériové porty
Comment=Serial Port Settings
Comment[cs]=Nastavení sériového portu
Exec=gpe-conf serial
Terminal=0
Type=Application
Icon=gpe-config-serial.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
SingleInstance=True
