[Desktop Entry]
Name=User Manager
Name[cs]=Spravovat nastavení uživatelů
Comment=Manage local Users 
Comment[cs]=Správce uživatelů
Exec=gpe-conf users
Terminal=0
Type=Application
Icon=gpe-config-users.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
SingleInstance=True
