[Desktop Entry]
Name= Update Manager
Name[cs]=Aktualizace systému
Name[de]=Update-Manager
Name[fr]=Mises à jour
Name[pt]=Gerenciador de Actualizações
Name[ro]=Actualizează Manager
Name[ru]= Менеджер обновления
Name[sk]= Správca aktualizácií
Name[sv]=Uppdateringshanterare
Comment=Update installed packages
Comment[cs]=Updatovat/Instalovat nové balíčky
Comment[de]=Installierte Pakete updaten
Comment[fr]=Mise à jour des paquets installés
Comment[pt]=Actualizar os pacotes instalados
Comment[ro]=Actualizează pachete instalate
Comment[ru]=Обновить установленные пакеты
Comment[sk]=Aktualizovať nainštalované balíky
Comment[sv]=Uppdatera installerade paket
Exec=gpe-conf packages
Terminal=0
Type=Application
Icon=gpe-config-packages.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
SingleInstance=True
