[Desktop Entry]
Name=Owner Information
Name[cs]=Informace o majiteli
Name[de]=Benutzerinformation
Name[fr]=Propriétaire
Name[nl]=Eigenaarsinformatie
Name[pt]=Informação do Proprietário
Name[ro]=Informaţii Proprietar
Name[ru]=Информация о владельце
Name[sk]=Informácie o vlastníkovi
Name[sv]=Ägarinformation
Comment=Set Owner Information
Comment[cs]=Nastavit informace o majiteli
Comment[de]=Setze Benutzerinformation
Comment[fr]=Enregistrer les informations sur le propriétaire
Comment[nl]=Eigenaarsinformatie instellen
Comment[pt]=Alterar Informações do Proprietário
Comment[ro]=Setează Informaţii Proprietar
Comment[ru]=Установить информацию о владельце
Comment[sk]=Nastaviť informácie o vlastníkovi
Comment[sv]=Ställ in ägarinformation
Exec=gpe-conf ownerinfo
Terminal=0
Type=Application
Icon=gpe-config-ownerinfo.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
SingleInstance=True
