[Desktop Entry]
Name=Screen Setup
Name[cs]=Nastavení displeje
Name[de]=Bildschirmeinstellungen
Name[fr]=Écran
Name[nl]=Scherminstellingen
Name[pt]=Configuração do Ecrã
Name[ro]=Setare screen
Name[ru]=Настройка экрана
Name[sk]=Nastavenie obrazovky
Name[sv]=Konfiguration av skärm
Comment=Screen Setup
Comment[cs]=Nastavení displeje
Comment[de]=Bildschirmeinstellungen
Comment[fr]=Écran
Comment[nl]=Scherminstellingen
Comment[pt]=Configuração do Ecrã
Comment[ro]=Setare screen
Comment[ru]=Настройка экрана
Comment[sk]=Nastavenie obrazovky
Comment[sv]=Konfiguration av skärm
Exec=gpe-conf ipaqscreen
Terminal=0
Type=Application
Icon=gpe-config-ipaqscreen.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
SingleInstance=True
