[Desktop Entry]
Name=Date/Time Setup
Name[cs]=Datum/čas
Name[de]=Datum/Zeit
Name[fr]=Date/Heure
Name[nl]=Datum/tijd setup
Name[pt]=Configuração de Data/Hora
Name[ro]=Setare Dată/Timp
Name[ru]=Настройка даты/времени
Name[sk]=Nastavenie dátumu a času
Name[sv]=Konfiguration av datum/tid
Comment=Setup Date and Time
Comment[cs]=Nastavení data a času
Comment[de]=Einstellung von Datum und Uhrzeit
Comment[fr]=Configuration de la date et de l'heure
Comment[nl]=Datum en tijd instellen
Comment[pt]=Configurar Hora e Data
Comment[ro]=Setare Dată şi Timp
Comment[ru]=Настройка даты и времени
Comment[sk]=Nastavenie dátumu a času
Comment[sv]=Konfigurera datum och tid
Exec=gpe-conf time
Terminal=0
Type=Application
Icon=gpe-config-time.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
SingleInstance=True
