[Desktop Entry]
Name=Sleep Config
Name[cs]=Nastavení spánku
Comment=Sleep Configuration
Comment[cs]=Nastavení spánku
Exec=gpe-conf sleep
Terminal=0
Type=Application
Icon=gpe-config-sleep.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
SingleInstance=True
