[Desktop Entry]
Name=User Access
Name[cs]=Přístup uživatelů
Name[de]=Benutzerzugriff
Name[fr]=Accès Utilisateur
Name[nl]=Gebruikerstoegang
Name[pt]=Acesso do Utilizador
Name[ro]=Acces Utilizator
Name[ru]=Доступ пользователей
Name[sk]=Práva používateľa
Name[sv]=Användaråtkomst
Comment=User access administration
Comment[cs]=Nastavení přístupu uživatelů
Comment[de]=Administrierung des Benutzerzugriffs
Comment[nl]=Gebruikerstoegang beheer
Comment[pt]=Administração do acesso do utilizador
Comment[ro]=Administraţie acces utilizator
Comment[ru]=Администрирование доступа пользователей
Comment[sk]=Správa prístupových práv používateľa
Comment[sv]=Administration av användaråtkomst
Exec=gpe-conf admin
Terminal=0
Type=Application
Icon=gpe-config-admin.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
SingleInstance=True
