[Desktop Entry]
Name=Button Config
Name[cs]=Nastavení tlačítek
Comment=Button Configuration
Comment[cs]=Nastavení vnějších tlačítek
Exec=gpe-conf keyctl
Terminal=0
Type=Application
Icon=gpe-config-keyctl.png
Categories=Application;SystemSettings;GPE
StartupNotify=True
StartupNotify=False
SingleInstance=True
