[Desktop Entry]
Name=Screen Setup
Name[cs]=Nastavení displeje
Comment=Screen Setup
Comment[cs]=Nastavení displeje
Exec=gpe-conf ipaqscreen
Terminal=0
Type=Application
Icon=gpe-config-ipaqscreen.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
SingleInstance=True
