[Desktop Entry]
Name=Global Look
Name[cs]=Nastavení vzhledu aplikací
Name[de]=Globales Aussehen
Name[fr]=Apparence
Name[pt]=Aparência Global
Name[ro]=Privire Globală
Name[ru]=Внешний вид
Name[sk]=Globálny vzhľad
Name[sv]=Globalt utseende
Comment=Global Appearance Setup
Comment[cs]=Vzhled a písma
Comment[de]=Globales Aussehen
Comment[fr]=Configuration de l'apparence générale
Comment[pt]=Configuração de Aparência Global
Comment[ro]=Setare Aspect Global
Comment[ru]=Настройка внешнего вида
Comment[sk]=Nastavenie globálneho vzhľadu
Comment[sv]=Konfiguration av globalt utseende
Exec=gpe-conf theme
Terminal=0
Type=Application
Icon=gpe-config-theme.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
SingleInstance=True
