[Desktop Entry]
Name=Storage Usage
Name[cs]=Využití pamětí
Name[de]=Speicherauslastung
Name[fr]=Mémoire
Name[pt]=Utilização de Espaço
Name[ro]=Folosire Depozitare
Name[ru]=Использование запоминающего устройства
Name[sk]=Použitie ukladacieho priestoru
Name[sv]=Lagringsanvändning
Comment=Storage Information
Comment[cs]=Informace o využití paměti
Comment[de]=Speicherinformation
Comment[fr]=Information sur l'usage de la mémoire
Comment[pt]=Informação de Espaço
Comment[ro]=Informaţii Depozitare
Comment[ru]=Информация о запоминающем устройстве
Comment[sk]=Uložiť informácie
Comment[sv]=Lagringsinformation
Exec=gpe-conf storage
Terminal=0
Type=Application
Icon=gpe-config-storage.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
SingleInstance=True
