[Desktop Entry]
Name= Update Manager
Name[cs]=Aktualizace systému
Comment=Update installed packages
Comment[cs]=Updatovat/Instalovat nové balíčky
Exec=gpe-conf packages
Terminal=0
Type=Application
Icon=gpe-config-packages.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
SingleInstance=True
