[Desktop Entry]
Name=Login Setup
Name[cs]=Nastavení přihlašování
Name[de]=Login-Einstellungen
Name[fr]=Session
Name[pt]=Configuração do Login
Name[ro]=Setare Login
Name[ru]=Настройка входа в систему
Name[sk]=Nastavenie prihlásenia
Name[sv]=Inloggningskonfiguration
Comment=Login Setup
Comment[cs]=Nastavení přihlašování
Comment[de]=Login-Einstellungen
Comment[fr]=Session
Comment[pt]=Configuração do Login
Comment[ro]=Setare Login
Comment[ru]=Настройка входа в систему
Comment[sk]=Nastavenie prihlásenia
Comment[sv]=Inloggningskonfiguration
Exec=gpe-conf login-setup
Terminal=0
Type=Application
Icon=gpe-config-login-setup.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
SingleInstance=True
