[Desktop Entry]
Name=External Keyboard
Name[cs]=Přídavné klávesnice
Name[de]=Externe Tastatur
Name[fr]=Clavier externe
Name[nl]=Extern toetsenbord
Name[pt]=Teclado Externo
Name[ro]=Tastatură externă
Name[ru]=Внешняя клавиатура
Name[sk]=Externá klávesnice
Name[sv]=Externt tangentbord
Comment=External Keyboard Setup
Comment[cs]=Nastavení přídavné klávesnice
Comment[de]=Einstellungen der externen Tastatur
Comment[fr]=Configuration du clavier externe
Comment[nl]=Extern toetsenbord instellingen
Comment[pt]=Configuração do Teclado Externo
Comment[ro]=Setare tastatură externă
Comment[ru]=Настройка внешней клавиатуры
Comment[sk]=Nastavenie externej klávesnice
Comment[sv]=Konfiguration av externt tangentbord
Exec=gpe-conf keyboard
Terminal=0
Type=Application
Icon=gpe-config-keyboard.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
SingleInstance=True
