[Desktop Entry]
Name=Virtual Keyboard
Name[cs]=Rozložení kláves
Name[de]=Virtuelle Tastatur
Name[pt]=Teclado Virtual
Name[ro]=Tastatură virtuală
Comment=Virtual Keyboard Setup
Comment[cs]=Nastavení rozložení kláves
Comment[de]=Einstellungen der virtuellen Tastatur
Comment[pt]=Configuração do Teclado Virtual
Comment[ro]=Setare tastatură virtuală
Exec=gpe-conf kbd
Terminal=0
Type=Application
Icon=gpe-config-kbd.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
SingleInstance=True
