[Desktop Entry]
Name=Show Logs
Name[de]=Logs anzeigen
Name[pt]=Mostrar Logs
Name[ro]=Arată Jurnale
Comment=Access System Log 
Exec=gpe-conf logread
Terminal=0
Type=Application
Icon=gpe-config-logread.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
StartupNotify=False
SingleInstance=True
