[Desktop Entry]
Name=PC/CF Cards
Comment=PC/CF Cards infomation
Exec=gpe-conf cardinfo
Terminal=0
Type=Application
Icon=gpe-config-cardinfo.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
