[Desktop Entry]
Name=Serial Ports
Comment=Serial Port Settings
Comment[cs]=Nastavení sériového portu
Comment[de]=Einstellungen für serielle Ports
Comment[fr]=Paramètres du port série
Comment[pt]=Configuração da Porta de Série
Comment[ro]=Setări Porturi Seriale
Comment[ru]=Установки последовательных портов
Comment[sk]=Nastavenia sériového rozhrania
Comment[sv]=Inställningar för serieport
Exec=gpe-conf serial
Terminal=0
Type=Application
Icon=gpe-config-serial.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
SingleInstance=True
