[Desktop Entry]
Name=Network Setup
Name[cs]=Nastavení sítě
Name[de]=Netzwerkeinstellungen
Name[fr]=Configuration du réseau
Name[pt]=Configuração de Rede
Name[ro]=Setare Reţea
Name[ru]=Настройка сети
Name[sk]=Nastavenie siete
Name[sv]=Nätverkskonfiguration
Comment=Network Setup
Comment[cs]=Nastavení sítě
Comment[de]=Netzwerkeinstellungen
Comment[fr]=Configuration du réseau
Comment[pt]=Configuração de Rede
Comment[ro]=Setare Reţea
Comment[ru]=Настройка сети
Comment[sk]=Nastavenie siete
Comment[sv]=Nätverkskonfiguration
Exec=gpe-conf network
Terminal=0
Type=Application
Icon=gpe-config-network.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
SingleInstance=True
