[Desktop Entry]
Name=PC/CF Cards
Name[cs]=PC/CF karty
Name[de]=PC/CF-Karten
Name[fr]=Cartes PC/CF
Name[nl]=PC/CF kaarten
Name[pt]=Cartões PC/CF
Name[ro]=Carduri PC/CF
Name[ru]=Карты PC/CF
Name[sk]=PC/CF karty
Name[sv]=PC/CF-kort
Comment=PC/CF Cards info and config
Comment[cs]=Nastavení a informace o PC/CF kartách
Comment[de]=PC/CF-Steckplatz-Information
Comment[fr]=Informations et configuration des cartes PC/CF.
Comment[nl]=PC/CF-kaarten info en config
Comment[pt]=Configuração e informações acerca dos cartões PC/CF
Comment[ro]=Informaţii şi configurare carduri PC/CF.
Comment[ru]=Информация и настройки карт PC/CF
Comment[sk]=Informácie o PC/CF kartách a ich konfigurácia
Comment[sv]=Information och konfiguration av PC/CF-kort
Exec=gpe-conf cardinfo
Terminal=0
Type=Application
Icon=gpe-config-cardinfo.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
SingleInstance=True
