[Desktop Entry]
Name=Show Logs
Name[cs]=Zobrazit záznamy
Name[de]=Logs anzeigen
Name[fr]=Carnet de bord
Name[pt]=Mostrar Logs
Name[ro]=Arată Jurnale
Name[ru]=Показать логи
Name[sk]=Zobraziť záznamy
Name[sv]=Visa loggar
Comment=Access System Log 
Exec=gpe-conf logread
Terminal=0
Type=Application
Icon=gpe-config-logread.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
StartupNotify=False
SingleInstance=True
