[Desktop Entry]
Name= Serial Ports
Comment=Serial Port Settings
Exec=gpe-conf serial
Terminal=0
Type=Application
Icon=gpe-config-serial.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
