[Desktop Entry]
Name=User Manager
Name[cs]=Spravovat nastavení uživatelů
Name[de]=Benutzer-Manager
Name[pt]=Gerenciar Utilizadores
Name[ro]=Managerul de Utilizatori
Comment=Manage local users 
Exec=gpe-conf users
Terminal=0
Type=Application
Icon=gpe-config-users.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
SingleInstance=True
