[Desktop Entry]
Name=Audio Player
Comment=NMF
Exec=gpe-nmf
Terminal=0
Type=Application
Icon=gpe-nmf.png
Categories=Application;Utility;AudioVideo;GPE
SingleInstance=true

