[Desktop Entry]
Name=Audio player
Comment=NMF
Exec=gpe-nmf
Terminal=0
Type=Application
Icon=gpe-nmf.png
Categories=Application;AudioVideo;GPE
SingleInstance=true
