[Desktop Entry]
Encoding=UTF-8
Name=CodeBreaker
Comment=GPE Code
Exec=gpe-code
Terminal=false
Type=Application
Icon=gpe-code.png
Categories=Games
StartupNotify=false
