Package: gpe-edit
Section: base
Priority: optional
Version: 0.05.1
Architecture: arm
Maintainer: Damien Tanner <dctanner@magenet.com>
Depends: libgtk1.2, gpe-icons (>= 0.05), libgpewidget0 (>= 0.08)
Description: GPE text editor
