#!/usr/bin/make -f 
build:
	CC=arm-linux-gcc ./configure --disable-static \
			 --prefix=/tmp/usqld/usr  \
			 --with-sqlite=/skiff/local
	make

install:
	rm -fr /tmp/usqld
	mkdir -p /tmp/usqld/usr/sbin
	make install
	arm-linux-strip /tmp/usqld/usr/bin/* /tmp/usqld/usr/lib/*so
	mkdir -p /tmp/usqld/etc/init.d /tmp/usqld/etc/rc2.d
	cp scripts/usqld /tmp/usqld/etc/init.d/
	mv /tmp/usqld/usr/bin/usqld /tmp/usqld/usr/sbin/
	ln -s /tmp/usqld/etc/init.d/usqld /tmp/usqld/etc/rc2.d/usqld


clean:
	make clean
