Source: starling
Section: X11
Priority: optional
Maintainer: Florian Boor <florian.boor@kernelconcepts.de>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: starling
Architecture: any
Depends: libgtk2.0-0, libgstreamer0.10-0, gstreamer0.10-plugins-base, sqlite, libsoup2.2-8, libgpewidget1, ${shlibs:Depends}
Description: GPE's audio player.
