Package: gpe-what
Section: x11
Priority: optional
Version: 0.03
Architecture: arm
Maintainer: Phil Blundell <pb@debian.org>
Depends: libgtk1.2, gpe-icons (>= 0.05), libgpewidget0 (>= 0.08)
Description: GPE interactive help
