Package: gpe-what
Section: x11
Priority: optional
Version: 0.24
Architecture: arm
Maintainer: Phil Blundell <pb@debian.org>
Depends: xlibs, libgpewidget1 (>= 0.35), matchbox
Description: GPE interactive help system

