Package: gpe-what
Section: x11
Priority: optional
Version: VERSION
Source: SOURCE
Architecture: arm
Maintainer: Phil Blundell <pb@debian.org>
Depends: libgpewidget1 (>= 0.35)
Description: GPE interactive help system

