[Desktop Entry]
Encoding=UTF-8
Name=Volume control
Comment=Panel based volume control
Exec=minimix
Type=PanelApp
Icon=stock_volume.png
Categories=Panel;Utility;
