[Desktop Entry]
Name=Bluetooth Control
Comment=Panel based Bluetooth control
Exec=gpe-bluetooth
Type=PanelApp
Icon=gpe-bluetooth.png
Categories=Panel;Utility;GPE
