[Desktop Entry]
Encoding=UTF-8
Name=Tetris
Comment=GPE Tetris
Exec=gpe-tetris
Terminal=false
Type=Application
Icon=gpe-tetris.png
Categories=Application;Game;GPE
SingleInstance=true

