[Desktop Entry]
Name=Theme switcher
Comment=Matchbox theme selection utility
Exec=minitheme
Type=PanelApp
Icon=minitheme.png
Categories=Panel;Utility;GPE;
