[Desktop Entry]
Name=Lights Out
Comment=GPE Lights
Exec=gpe-lights
Terminal=0
Type=Application
Icon=gpe-lights.png
Categories=Games
StartupNotify=True
