[Desktop Entry]
Encoding=UTF-8
Name=Lights Out
Comment=GPE Lights
Exec=gpe-lights
Terminal=false
Type=Application
Icon=gpe-lights.png
Categories=Games
StartupNotify=true
