body {
	margin-left:	15px;
	margin-right:	15px;
	background-color:	white;
	color:		black;
	font-family:	Bitstream Vera Sans, Vera Sans, Georgia, Verdana, Geneva, Helvetica, Arial, sans-serif;
}

p,li {
	line-height:	120%
}

th {
	text-align:	left;
}

td {
	text-align:	left;
}

code, tt, pre {
	font-family:	Bitstream Vera Sans Mono, lucidatypewriter, monospace;
	font-size:	80%
}

table {
	border-style:	none;
}

img {
	border-style:	none;
}

hr {
	color:		black;
	background-color:	black;
	height:		1px;
	width:		100%;
	border:		0;
}

div.menu {
	margin-top:	6pt;
	margin-bottom:	2pt;
}

div.footer {
	color:		#444444;
	margin-top:	6pt;
	margin-bottom:	2pt;
}

.storytitle {
	font-size: 12px;
	font-weight: bold; 
	font-family: verdana, arial, sans-serif;
	}
.storybyline {
	color: gray; 
	font-size: 10px;
	font-weight: bold; 
	font-family: verdana, arial, sans-serif;
	}
.storyunderline{
	background: #404040; 
	}
.warning {
	color: red; 
	font-size: 12px;
	font-weight: bold; 
	font-family: verdana, arial, sans-serif;
	}
.warningsmall {
	color: red; 
	font-size: 10px;
	font-family: verdana, arial, sans-serif;
	}
.commentbar1 {
	color: white; 
	background: #404040; 
	font-size: 12px;
	font-family: verdana, arial, sans-serif;
	}
.commentbar2 {
	background: #404040; 
	font-size: 12px;
	font-family: verdana, arial, sans-serif;
	}
.commentbar3 {
	color: white; 
	background: #404040; 
	font-size: 10px;
	font-family: verdana, arial, sans-serif;
	}
.commenttitle {
	font-size: 12px;
	font-weight: bold; 
	background: #EEEEEE; 
	font-family: verdana, arial, sans-serif;
	}
.cal_day {
    font-size: 14px;
    font-weight: bold;
    }
.cal-nullday {
    background: #EEEEEE;
    }
.cal-oldday {
    background: #DDDDDD;
    }
.cal-today {
    background: yellow;
    }
.weekview_caltitle {
    background: #DDDDDD;
    font-weight: bold;
    font-size: 14px;
    }
.weekview-curday {
    background: yellow;
    }
.weekview-offday {
    background: #DDDDDD;
    }
.weekview_dayformat {
    font-weight: bold;
    }
.weekview_addevent {
    font-size: 9px;
    }
.weekview_daterange {
    font-size: 16px;
    font-weight: bold;
    }
.dayview_times {
    font-weight: bold;
    text-align: center;
    }
.dayview_datecol {
    font-weight: bold;
    background: #DDDDDD;
    font-size: 16px;
    }
.dayview_quickaddtitle {
    font-weight: bold;
    background: #DDDDDD;
    font-size: 14px;
    }
