body {
	margin-left:	15px;
	margin-right:	15px;
	background-color:	white;
	color:		black;
	font-family:	Vera, Georgia, Verdana, Geneva, Helvetica, Arial, sans-serif;
}

p,li {
	line-height:	120%
}

th {
	text-align:	left;
}

td {
	text-align:	left;
}

code, tt, pre {
	font-family:	lucidatypewriter, monospace;
	font-size:	80%
}

table {
	border-style:	none;
}

img {
	border-style:	none;
}

hr {
	color:		black;
	background-color:	black;
	height:		1px;
	width:		100%;
	border:		0;
}

div.menu {
	margin-top:	6pt;
	margin-bottom:	2pt;
}

div.footer {
	color:		#333333;
	margin-top:	6pt;
	margin-bottom:	2pt;
}
