Section: x11 
Priority: optional
Version: 0.01
Architecture: all 
Maintainer: Luis Oliveira <luis@handhelds.org>
Description: Wallpaper created by Ayo, you can see more of his artwork at http://www.73lab.com/ 
