[Desktop Entry]
Name=IrDa control
Name[cs]=Nastavení IrDa
Name[es]=Control IrDA
Name[fr]=Communication Infra Rouge
Name[nl]=IrDa beheer
Name[pt]=Controlo de IrDa
Name[pt_BR]=Controle de IrDa
Name[ro]=Control IrDa
Name[ru]=IrDa-управление
Name[sr]=IrDa управљач
Name[sv]=IrDa-styrning
Comment=Panel based infrared communications control
Comment[cs]=Správce komunikace pro infračervený port.
Comment[de]=Steuerung von Infrarot-Übertragungen
Comment[es]=Control en panel de comunicaciones por infrarrojos
Comment[fr]=Programme d'échange de données par infrarouge
Comment[nl]=Paneel-gebaseerde infrarood-communicatie beheerder
Comment[pt]=Controlo de comunicações infra-vermelhos
Comment[pt_BR]=Controle de comunicações infra-vermelhos
Comment[ro]=Panou pentru controlul comunicaţiilor infrared
Comment[ru]=Панель управления инфракрасными коммуникациями.
Comment[sr]=Управљач инфрацрвеним комуникација на плочи
Comment[sv]=Panelbaserad styrning för infraröd kommunikation
Exec=gpe-beam
Type=PanelApp
Icon=irda-on-16.png
Categories=Panel;Utility;GPE;Infrared
