Package: gpe-su
Section: base
Priority: optional
Version: 0.02
Architecture: arm
Maintainer: Phil Blundell <pb@debian.org>
Depends: libgtk1.2, libgpewidget0 (>= 0.08), gpe-icons (>= 0.04)
Description: Graphical root-shell frontend
