Package: gpe-bootsplash
Section: base
Priority: optional
Version: 0.0-1
Architecture: arm
Maintainer: Robert Mibus <mibus@bigpond.com>
Depends: libgdk-pixbuf2
Description: A GPE splashscreen while booting
