Package: libeventdb0
Section: base
Priority: optional
Version: 0.01
Architecture: arm
Maintainer: Phil Blundell <pb@debian.org>
Depends: libc6, libsqlite0, libglib2.0-0
Description: Library that provides access to gpe-calendar's database.
