Package: teleport
Section: x11
Priority: optional
Version: VERSION
Source: SOURCE
Architecture: arm
Maintainer: Phil Blundell <pb@debian.org>
Depends: xlibs, libgtk2.0-0, libdisplaymigration0, libgcrypt1, libsqlite0, libgpewidget1, libsqlite0
Description: Move Gtk apps between displays
