Package: teleport
Section: x11
Priority: optional
Version: 0.20
Architecture: arm
Maintainer: Phil Blundell <pb@debian.org>
Depends: xlibs, libgtk2.0-0, libdm0, libgcrypt1
Description: Move Gtk apps between displays
