[Desktop Entry]
Name=Aerial
Comment=Panel based wireless LAN communications control
Exec=gpe-aerial
Type=PanelApp
Icon=gpe-aerial.png
Categories=Panel;Utility;GPE;WiFi
