[Desktop Entry]
Name=Aerial
Name[cs]=Aerial - ovládání bezdrátových sítí
Name[de]=Aerial
Name[es]=Aerial
Name[fr]=Aerial
Name[nl]=Aerial
Name[pt]=Aerial
Name[pt_BR]=Aerial
Name[ro]=Aerial
Name[ru]=Aerial
Name[sr]=Антена
Name[sv]=Luftburen
Name[vi]=Dây trời
Comment=Panel based wireless LAN communications control
Comment[cs]=Ovládání bezdrátových sítí z panelu
Comment[de]=Kontrollfeldbasierte WLAN-Kommunikationssteuerung
Comment[es]=Control de panel para redes LAN inalámbricas
Comment[fr]=Controle des communications sur un réseau local sans fil.
Comment[nl]=Paneel-gebaseerde draadloze LAN communicatie beheerder
Comment[pt]=Controlo de comunicações de redes sem-fios
Comment[pt_BR]=Controle de comunicações de redes sem-fios
Comment[ro]=Panou pentru controlul comunicaţiilor prin LAN wireless
Comment[ru]=Панель управления коммуникациями беспроводных ЛВС
Comment[sr]=Управљач LAN комуникацијама на панелу
Comment[sv]=Panelbaserad styrning för trådlös LAN-kommunikation
Comment[vi]=Bảng điều kiện truyền thông trên mạng địa phương vô tuyến 
Exec=gpe-aerial
Type=PanelApp
Icon=gpe-aerial.png
Categories=Panel;Utility;GPE;WiFi
