[Desktop Entry]
Encoding=UTF-8
_Name=Pegged
_Comment=GPE Pegged
Exec=gpe-pegged
Terminal=false
Type=Application
Icon=gpe-pegged.png
Categories=Games
StartupNotify=true
