Package: gpe-soundserver
Section: base
Priority: optional
Version: VERSION
Source: SOURCE
Architecture: arm
Maintainer: Phil Blundell <pb@debian.org>
Depends: esd, xlibs
Description: X-aware ESD wrapper
