Package: minibat
Section: x11
Priority: optional
Version: VERSION
Architecture: arm
Maintainer: Phil Blundell <pb@debian.org>
Depends: libc6, xlibs, matchbox
Description: Battery monitor for system tray

