Package: gpe-filemanager
Section: base
Priority: optional
Version: 0.01
Architecture: arm
Maintainer: Damien Tanner <dctanner@magenet.com>
Depends: libgtk1.2, libgpewidget0 (>= 0.23), gpe-icons (>= 0.10), sqlite
Description: GPE File Manager

