Package: gpe-apps
Section: base
Priority: optional
Version: 0.09
Architecture: arm
Maintainer: GPE Hackers <gpe@handhelds.org>
Depends: gpe-calendar, gpe-todo, gpe-appmgr, gpe-login, gpe-dm, gpe-session-scripts, xkbd, matchbox, gtk-engines-xenophilia, xfonts-75dpi, gpe-what, gpe-edit, gpe-soundbite, keylaunch, esd, sfm, detect-stylus, xstroke, dillo, gpe-soundserver, gpe-bootsplash, gpe-kbd, gtk-theme-gpe, gpe-minicalc, gpe-terminal, xcalibrate, xfonts-ttf, ipaqscreen, update-menus
Description: Task package for GPE applications
