[Desktop Entry]
Encoding=UTF-8
Name=Othello
Comment=GPE Othello
Exec=gpe-othello
Terminal=false
Type=Application
Icon=gpe-othello.png
Categories=Games
StartupNotify=true
