Source: gpesummary
Section: user/pim
Priority: optional
Maintainer: Christoph Würstle <n800@axique.de>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: gpesummary
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GPE Summary applet for the N800
