Package: libgpevtype0
Section: gpe
Priority: optional
Version: VERSION
Source: SOURCE
Architecture: arm
Maintainer: Phil Blundell <pb@debian.org>
Depends: libc6, libsqlite0, libglib2.0-0, libmimedir0
Description: GPE PIM data interchange library
