[Desktop Entry]
Encoding=UTF-8
Name=Alarm clock
Comment=Panel clock with alarm facility
Exec=gpe-clock
Type=PanelApp
Terminal=false
Type=Application
Icon=gpe-clock.png
Categories=Panel;Utility;GPE;
StartupNotify=false
X-SingleInstance=true
