[Desktop Entry]
Name=Alarm clock
Comment=Panel clock with alarm facility
Exec=gpe-clock
Type=PanelApp
Icon=gpe-clock.png
Categories=Panel;Utility;GPE;
