Source: gpe-timesheet
Section: user/pim
Priority: optional
Maintainer: Philippe De Swert <philippedeswert@scarlet.be>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: gpe-timesheet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: small program to keep track of time spent on a task
 Time tracking program for GPE. This can be used to track the time 
 you spend on certain tasks. It will generate html page for you to
 by task.
