[Desktop Entry]
Encoding=UTF-8
Name=Image Gallery
Comment=GPE Image Gallery
Exec=gpe-gallery
Terminal=0
Type=Application
Icon=gpe-gallery.png
Categories=Application;Utility;Media;GPE;
StartupNotify=true
