Package: gpe-soundbite
Section: base
Priority: optional
Version: 0.04
Architecture: arm
Maintainer: Moray Allan <moray@handhelds.org>
Depends: libgtk1.2, libgpewidget0 (>= 0.05), gpe-icons (>= 0.04), libgsm1
Description: Audio note recorder for GPE
