Source: xdemineur
Version: 2.1.1
Section: games
Priority: optional
Maintainer: Phil Blundell <pb@handhelds.org>
Package: xdemineur
Architecture: arm
Depends: xlibs
Description: Minesweeper game for X11
