[Desktop Entry]
Encoding=UTF-8
Name=xdémineur
Comment=Minesweeper-like game
Exec=xdemineur
Terminal=false
Type=Application
Icon=xdemineur.png
Categories=Games
StartupNotify=false
