Package: hotplug-dbus
Version: VERSION
Source: SOURCE
Architecture: all
Section: base
Priority: optional
Maintainer: Phil Blundell <pb@debian.org>
Depends: dbus-1-utils
Description: Forward hotplug events to D-BUS
