Package: detect-stylus
Section: x11
Priority: optional
Version: 0.04
Architecture: arm
Depends: xlibs, xbase-clients
Maintainer: Phil Blundell <pb@debian.org>
Description: Touchscreen detection utility
