[Desktop Entry]
Encoding=UTF-8
Name=Light control
Comment=Panel based screen light control
Exec=minilite
Type=PanelApp
Icon=minilite.png
Categories=Panel;Utility;
