[Desktop Entry]
Name=IRC Client
Comment=GPE IRC
Exec=gpe-irc
Terminal=0
Type=Application
Icon=gpe-irc.png
Categories=Application;IRC;GPE;
StartupNotify=true