[Desktop Entry]
Encoding=UTF-8
Name=Interactive help
Comment=Displays tooltips in a window
Exec=gpe-what
Type=PanelApp
Icon=gpe-what.png
Categories=Panel;Utility;GPE;
