[Desktop Entry]
Name=Interactive help
Comment=Displays tooltips in a window
Exec=gpe-what
Type=PanelApp
Icon=gpe-what.png
Categories=Panel;Utility;GPE;
