Package: gpe-todo
Section: base
Priority: optional
Version: 0.10
Architecture: arm
Maintainer: Phil Blundell <pb@debian.org>
Depends: libgtk1.2, sqlite, libgpewidget0 (>= 0.08), gpe-icons (>= 0.04)
Description: GPE to-do list
