Package: gpe-todo
Section: base
Priority: optional
Version: 0.25
Architecture: arm
Maintainer: Phil Blundell <pb@debian.org>
Depends: libgtk1.2, sqlite, libgpewidget0 (>= 0.24), gpe-icons (>= 0.15)
Description: GPE to-do list
