Package: libgpewidget0
Section: base
Priority: optional
Version: 0.14
Architecture: arm
Maintainer: Phil Blundell <pb@debian.org>
Depends: libgtk1.2, libgdk-pixbuf2
Description: Common widget set for GPE
