Package: libtododb0
Section: base
Priority: optional
Version: VERSION
Source: SOURCE
Architecture: arm
Maintainer: Phil Blundell <pb@debian.org>
Depends: libc6, libsqlite0, libglib2.0-0, libgpewidget1
Description: Library that provides access to gpe-todo's database.
