Package: startup-monitor
Section: x11
Priority: optional
Version: VERSION
Architecture: arm
Maintainer: Phil Blundell <pb@debian.org>
Depends: xlibs, startup-notification, matchbox, gpe-icons (>= 0.19)
Source: SOURCE
Description: Startup notification monitor applet

