[Desktop Entry]
Name=Teleport
Comment=Move applications between displays
Exec=monolaunch -k /usr/share/pixmaps/teleport.png teleport
Type=PanelApp
Icon=/usr/share/pixmaps/teleport.png
Categories=Panel;Utility;GPE
