[Desktop Entry]
Encoding=UTF-8
Name=Map Viewer
Comment=GPE Mapviewer
Exec=gpe-mapviewer
Terminal=0
Type=Application
Icon=gpe-mapviewer.png
Categories=Application;Utility;GPE;
StartupNotify=true
