Package: gpe-announce
Section: base
Priority: optional
Version: 0.01
Architecture: arm
Maintainer: Joe McCarthy <mccarthy@engrng.pitt.edu>
Depends: libgtk1.2, gpe-icons, libgpe
Description: GPE announce
