Package: gpe-today
Section: base
Priority: optional
Version: VERSION
Source: SOURCE
Architecture: arm
Maintainer: Luis Oliveira <luis@handhelds.org>
Depends: libc6, libgtk2.0-0, libgpewidget1, libeventdb0, libtododb0, libxsettings-client0, gpe-today-locale*
Description: GPE today app 
