Source: libgpevtype
Priority: optional
Maintainer: Florian Boor <florian.boor@kernelconcepts.de>
Build-Depends: debhelper (>= 4.0.0), autotools-dev
Standards-Version: 3.6.1
Section: libs

Package: libgpevtype-dev
Section: libdev
Architecture: any
Depends: libgpevtype0 (= ${Source-Version}), libgtk2.0-dev, libmimedir-gnome0-dev
Description: GPE library to convert PIM data from/to mimedir data (development files).
 Libmimedir provides GPE access to PIM data in mimedir (VCard/VCal/VTodo) format
 and supports exporting GPE PIM data to mimedir files. This package 
 contains the files which are necessary to compile applications using this
 library.

Package: libgpevtype0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GPE library to convert PIM data from/to mimedir data (development files).
 Libmimedir provides GPE access to PIM data in mimedir (VCard/VCal/VTodo) format
 and supports exporting GPE PIM data to mimedir files.
