[Desktop Entry]
Encoding=UTF-8
Name=Calculator
Comment=GPE Calculator
Exec=gpe-calculator
Terminal=false
Type=Application
Icon=gpe-calculator.png
Categories=Application;Utility;GPE;
StartupNotify=true
