[Desktop Entry]
Name=Calculator
Comment=GPE Calculator
Exec=gpe-calculator
Terminal=0
Type=Application
Icon=gpe-calculator.png
Categories=Application;Utility;GPE;
StartupNotify=true
