Package: blueprobe
Version: VERSION
Section: net
Priority: optional
Maintainer: Phil Blundell <pb@debian.org>
Depends: libc6
Architecture: arm
Source: SOURCE
Description: Bluetooth hardware detection utility
