Package: gpe-confd
Section: x11
Priority: optional
Version: 0.11-1
Architecture: arm
Maintainer: Phil Blundell <pb@debian.org>
Depends: libsqlite0, libglib2.0-0, libxsettings0
Description: Persistent Xsettings storage daemon
