Package: libxsettings-client0
Section: x11
Priority: optional
Version: VERSION
Source: SOURCE
Architecture: arm
Maintainer: Phil Blundell <pb@debian.org>
Depends: xlibs, libxsettings0
Description: XSETTINGS client code
