[Desktop Entry]
Encoding=UTF-8
Name=Ataxx
Comment=GPE Ataxx
Exec=gpe-ataxx
Terminal=false
Type=Application
Icon=gpe-ataxx.png
Categories=Games
StartupNotify=true
