Package: gpe-calendar
Section: base
Priority: optional
Version: 0.04
Architecture: arm
Maintainer: Phil Blundell <pb@debian.org>
Depends: libgtk1.2, gdk-imlib1, sqlite, gpe-icons (>= 0.02), libgpewidget0 (>= 0.03)
Description: GPE calendar
