[Desktop Entry]
Name=Calendar
Comment=GPE Calendar
Exec=gpe-calendar
Terminal=0
Type=Application
Icon=gpe-calendar.png
Categories=Application;PIM;GPE
StartupNotify=True
SingleInstance=True
