[Desktop Entry]
Name=WLAN Config
Comment=GPE WLAN Config
Exec=gpe-su -c gpe-wlancfg
Terminal=0
Type=Application
Icon=gpe-wlancfg.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
