[Desktop Entry]
Name=WLAN Config
Name[cs]=Nastavení WLAN
Comment=GPE WLAN Config
Comment[cs]=GPE Nastavení bezdrátových sítí
Exec=gpe-su -c 'gpe-wlancfg > /dev/null 2>&1'
Terminal=0
Type=Application
Icon=gpe-wlancfg.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
