[Desktop Entry]
Name=WLAN config
Comment=GPE WLAN config
Exec=gpe-wlancfg
Terminal=0
Type=Application
Icon=gpe-wlancfg.png
Categories=Application;SystemSettings;GPE
StartupNotify=False
