Package: gpe-calendar
Section: base
Priority: optional
Version: 0.06
Architecture: arm
Maintainer: Phil Blundell <pb@debian.org>
Depends: libgtk1.2, sqlite, gpe-icons (>= 0.04), libgpewidget0 (>= 0.05), libgdk-pixbuf2
Description: GPE calendar
