Package: xst
Section: x11
Priority: optional
Version: VERSION
Source: SOURCE
Architecture: arm
Maintainer: Phil Blundell <pb@debian.org>
Depends: libglib2.0-0, libxsettings-client0
Description: XSETTINGS tool
