Package: gpe-question
Section: x11
Priority: optional
Version: 0.10
Architecture: arm
Maintainer: Moray Allan <moray@handhelds.org>
Depends: libgpewidget0, gpe-icons
Description: GPE interface for asking questions from shell scripts
