Package: gpe-setbg
Section: base
Priority: optional
Version: 0.01
Architecture: arm
Maintainer: Colin Marquardt <ipaq@marquardt-home.de>
Depends: libgdk-pixbuf2, libgpewidget0 (>= 0.23)
Suggests: gpe-login (>= 0.23), gpe-conf (>= 0.05)
Description: Set root window image using gdk-pixbuf.
